body{
    margin: 0;
}
nav{
    background-color: grey;
}

.logo {
    font-size: 3em;
    padding-bottom: .2em;
    padding-top: .2em;
    font-family: 'Work Sans', sans-serif;
    font-weight: initial;
    margin: auto;
}

.nav_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}

.nav_link{
    padding: .5em;
}

li{
    font-weight: bold;
    list-style: none;
    font-size: small;
}
a{
    display: inline-block;
    text-decoration: none;
    color: black;
}

