*{
    margin: 0;
}

body{
    background-color: white;
    font-family: 'Montserrat', sans-serif;

}

form{
    margin-right: 60%;
}

.nav-link{
    font-size: x-small;
}

.jombotron{
    background-size: cover;
    height: 346px;
    display: flex;
    justify-content: center;

}
.jombotron-text{
    position: absolute;
    margin: 4em;
    font-size: xx-large;
    background-color: rgba(255, 255, 255, 0.54);
    width: 100%;
    padding: .5em;
    text-align: center;
}
h2{
    margin: .5em;
}
.card1{
    margin:auto;
}
.card-container{
    padding: 30px;
}