
nav{
    background-color: #EDC7BE;
    display: flex;
    text-align: left;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px;
    width: 100%;
    height: 120px;

}
.navbar{
    margin: 1em;
}

.navitem{
    margin-left: 2em;
    padding: .5em;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.logo{
    margin-right: 15em;
    margin-left: 6em;
    width: 7em;
    height: 7em;
}

.nav-right{
    display: flex;
    margin-left: 25em;
    list-style: none;
}


.fa-brands{
    color: white;
    padding: 1em;
}

section.banner{
    margin: 0;
    height: 600px;
}

.banner{
    width: 100%;
    height: 1920px;
    background-color: #D3C7BA;
    margin-top: 0px;
}




#web-dev{
    margin-left: 15rem;
    font-size: 60px;
}

.banner-para{
    inline-size: 500px;
    overflow-wrap: break-word;
    margin-left: 10rem;
    margin-right: 25rem;
    text-align: center;
    font-size: 20px;
}
#resumeBtn1{
    margin: 1em 340px;
    text-align: center;
    font-size: 20px;
    padding: .15px 3em;
}

#greeting{
    padding-top: 2em;
    margin-left: 19rem;
    font-size: 60px;
}

#para{
    margin-left: 3em;
}

.abstractcircle{
    width: 200px;
    height: 200px;
    background-color: white;
    transform: matrix(0.98, -0.21, 0.21, 0.98, 0, 0);
}
